<VirtualHost *:8080>
 ServerAdmin admin@test1.local
 ServerName www.test1.local
 ServerAlias test1.local

 DocumentRoot /var/www/test1.local
 ErrorLog ${APACHE_LOG_DIR}/test1.local-Error.log
 CustomLog ${APACHE_LOG_DIR}/test1.local-access.log combined
 Loglevel warn
</VirtualHost>
